<div class="body">
  <div class="itemIMG">
    <img src="assets/logo.png" alt="logo" />
  </div>
  <div class="container">
    <div class="row">
      <form class="login-form" method="get">
        <h2 style="font-size: 60px">Login</h2>
        <p>Entre na sua conta com dados que realizou ao se registrar.</p>
        <div class="form-group">
          <label for="idEmail">Email</label>
          <input
            [(ngModel)]="email"
            type="email"
            id="idEmail"
            name="email"
            required
            autocomplete="email"
            [ngModelOptions]= "{standalone: true}" />

        </div>
        <div class="form-group">
          <label for="Senha">Senha</label>
          <input
            [(ngModel)]="senha"
            type="password"
            id="Senha"
            name="senha"
            required
            autocomplete="current-password"
            [ngModelOptions]= "{standalone: true}" />

        </div>
        <button (click)="verificarUsuario()">Entrar</button>

        <div class="esquece" style="text-align: right">
          <p><a href="recuperar.html">Esqueceu a senha?</a></p>
        </div>

        <div class="container">
          <h3 style="margin-left: 30px">Não possui uma conta?</h3>
          <a href="/Proconnect/src/app/pag-inicial/pag-inicial.component.html"
            ><input
              type="button"
              value="Criar uma conta"
              style="
                text-align: center;
                background-color: #38b5d0;
                width: 100%;
                height: 54px;
                color: #fff;
                padding: 10px 10px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                transition: background-color 0.3s;
              "
          /></a>
        </div>





