<div class="row" style="background-color: #5201A4; height: 50px;">
  <nav class="MenuBar">
    <ul class="leftSideBar">
      <li><a routerLink="/home" ><img src="../../../../assets/logo.png" alt="" height="40px" style="margin-top: 5px; margin-left: 5px;"></a></li>

    </ul>
    <ul class="rightSideBar">
      <li class="LoginButtonLi"><a routerLink="/login" class="LoginButton">Login</a></li>
      <li class="cadButtonLi"><a routerLink="/cadastro" class="cadButton">Cadastro</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
