<header>
<app-pincipal-nav-bar></app-pincipal-nav-bar>
</header>
<div class="container">
  <div class="itemIMG">
    <img src="../../../assets/logo.png" alt="" style="margin-top: 20%; margin-left: 10%;" />
  </div>
    <div class="apresentacao">
      <div class="Titulo">
        <h1 style="font-size: 60px;">ProConnect</h1>
      </div>
      <div class="TextoExplicativo">
        <p class="Introducao">
          O ProConnect é uma plataforma que visa ajudar, profissionais que estão em busca de
          trabalhos que tenham compatibilidade com suas competências, do quais os profissionais podem
          realizar teste dentro da plataforma, de forma a serem classificados em busca que donos de
          projetos podem realizar.
        </p>
        <p class="Introducao">
          O Proconnect visa busca resultados eficientes e precisos, de forma a ajudar todos os usuarios da
          plataforma a entender como a plataforma ajuda aos usuarios a atingirem seus objetivos, sejam aqueles que buscam fazer parte de um projeto, ou aqueles que buscam profissionais para
          participarem de seus projetos
        </p>
      </div>
      <div class="border">
      <div class="pergunta">
        <p class="paragrafoPergunta">Gostaria de fazer parte dessa plataforma?</p>
      </div>
      <div class="botoes" style="display: flex; flex-direction: row; justify-content: space-evenly;">
          <a class="loginButton" routerLink="/login">Login</a>
          <a class="cadButton" routerLink="/cadastro">Cadastro</a>
      </div>
    </div>
    </div>
</div>

