<div class="row" style="background-color: #5201A4; height: 50px;">
  <nav class="MenuBar">
    <ul class="leftSideBar">
      <li><a><img src="../../../../assets/logo.png" alt="" height="40px" style="margin-top: 5px;"></a></li>

    </ul>
    <ul class="rightSideBar">
      <li class="TesteButtonLi"><a routerLink="/testes" class="TesteButton">Teste de Competência</a></li>
      <li class="ProjectsButtonLi"><a routerLink="/meusprojetos" class="ProjectsButton">Meus Projetos</a></li>
      <li class="UserMenu" style="margin-left: 30px; margin-right: 10px;"><a routerLink="/user"><img src="../../../../favicon.ico" alt=""></a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
