*{
  margin: 0;
  padding: 0;
}

.LoginButton{
  width: 50px;
  height: 30px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #68B2C2;
  border: solid 2px #4193a5;
}


.cadButton{
  width: 70px;
  text-decoration: none;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #68B2C2;
  border: solid 2px #4193a5;
}

.MenuBar{
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-between;

}


.rightSideBar{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}
