*{
  margin: 0;
  padding: 0;
}

.LoginButton{
  border: 2px;

  text-decoration: none;
  border-radius: 5px;
  color: #FFF;
  margin-left: 5px;
}

.LoginButtonLi{
  border: 2px;
  background-color: #68B2C2;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px, 12px, 8px, 12px;
  width: 50px;
  justify-content: center;
}

.cadButton{
  border: 2px;
  text-decoration: none;
  border-radius: 5px;
  height: 25px;
  color: #FFF;
  margin: 5px;
}

.cadButtonLi{
  border: 2px;
  background-color: #68B2C2;
  text-decoration: none;
  border-radius: 5px;
  width: 60px;
  height: 25px;
  padding: 8px, 12px, 8px, 12px;
  justify-content: center;
  margin-left: 20px;
}

.MenuBar{
  display: flex;
  flex-direction: row ;
  align-items: center;
  justify-content: space-between;

}

.leftSideBar{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.rightSideBar{
  display: flex;
  flex-direction: row;
  list-style-type: none;

}
