<app-home-nav-bar></app-home-nav-bar>
<div class="container">
  <div class="row">
    <div class="box-content" style="margin-left: 100px;">
      <app-box-content [titulo]="titulo1.titulo" [conteudos]="conteudos"></app-box-content>
    </div>
    <div class="main-content" style="margin-left: 20px; margin-right: 20px; margin-top: 30px; margin-bottom: 30px;">
      <app-main-content [posts]="posts"></app-main-content>
    </div>
    <div class="box-content" style="margin-left: 20px;">
      <app-box-content [titulo]="titulo2.titulo" [conteudos]="conteudos2"></app-box-content>
    </div>
  </div>
</div>
