label{
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-weight: bolder;
}

a{
  font-family: 'Inter', sans-serif;
}

.field{
  height: 32px;
  border: solid 1.5px #8A8294;
  background-color: #E8E3ED;
  text-indent: 4px;
  border-radius: 5px;
}

.container{
  border: solid 1px #FFF;
  width: 1250px;
  height: 570px;
  background-color: #E8E3ED;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.row{
  display: flex;
  flex-direction: row;
}

.informations{
  display: flex;
  flex-direction: column;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.cadButton{
  width: 100%;
  height: 100%;
  border-radius: 5px ;
  background-color: #895AB9;
  border: #8A8294;
  font-weight: bold;
  font-size: larger;

}

.cadButton:disabled{
  width: 100%;
  height: 100%;
  border-radius: 5px ;
  background-color: #8A8294;
  border: #8A8294;
  font-weight: bold;
  font-size: larger;

}

p{
  font-family: 'Inter', sans-serif;
}
