label{
  font-family: 'Inter', sans-serif;
  color: #000000;
  font-weight: bolder;
}

a{
  font-family: 'Inter', sans-serif;
}

.field{
  height: 32px;
  border: solid 1.5px #8A8294;
  background-color: #E8E3ED;
  text-indent: 4px;
  border-radius: 5px;
}

.container{
  border: solid 1px #FFF;
  width: 1250px;
  height: 570px;
  background-color: #E8E3ED;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.row{
  display: flex;
  flex-direction: row;
}

.informations{
  display: flex;
  flex-direction: column;
}
